In [3]:
import os
import sys
from pdf2docx import extract_tables, parse
import docx2txt
import pandas as pd 
import numpy as np

In [6]:
path = '../PDFs/'
pdf_list = os.listdir(path)
pdf_list = [os.path.join(path,file) for file in pdf_list]

In [7]:
pdf_file = pdf_list[0]

In [8]:
tables = extract_tables(pdf_file)

for table in tables:
    print(table)

Processing Pages: 1/2...
Processing Pages: 2/2...
[[' Number of Coils     ', '    Number of Paperclips'], ['5 ', '3, 5, 4'], [' 10 ', '       7, 8, 6'], [' 15 ', ' \n11, 10, 12'], [' 20 ', ' \n15, 13, 14']]
[['Speed (mph)', 'Driver', 'Car', 'Engine', 'Date'], ['407.447', 'Craig Breedlove', 'Spirit of America ', 'GE J47', '8/5/63'], ['413.199', 'Tom Green ', 'Wingfoot Express ', 'WE J46  ', '10/2/64'], ['434.22', 'Art Arfons', 'Green Monster ', 'GE J79 ', '10/5/64'], ['468.719', 'Craig Breedlove', 'Spirit of America', 'GE J79 ', '10/13/64'], ['526.277', 'Craig Breedlove', 'Spirit of America', 'GE J79 ', '10/15/65'], ['536.712', 'Art Arfons', 'Green Monster ', 'GE J79  ', '10/27/65'], ['555.127', 'Craig Breedlove', 'Spirit of America, Sonic 1 ', 'GE J79 ', '11/2/65 '], ['576.553', 'Art Arfons', 'Green Monster ', 'GE J79 ', '11/7/65 '], ['600.601', 'Craig Breedlove', 'Spirit of America, Sonic 1', 'GE J79 ', '11/15/65 '], ['622.407', 'Gary Gabelich', 'Blue Flame ', 'Rocket ', '10/23/70  '], ['633.468', 'Richard Noble ', 'Thrust 2 ', 'RR RG 146 ', '10/4/83  '], ['763.035', 'Andy Green', 'Thrust SSC', 'RR Spey', '10/15/97'], [None, None, None, None, '']]
[['  Time (drops of water)   ', '        Distance (cm)'], [' \n1 ', ' 10,11,9'], [' \n2 ', ' 29, 31, 30'], [' \n3 ', ' 59, 58, 61'], [' \n4 ', ' 102, 100, 98'], [' \n5 ', ' 122, 125, 127 ']]

In [9]:
for table in 
tables[0]

SyntaxError: invalid syntax (<ipython-input-9-d9617030d351>, line 1)

In [14]:
df = pd.DataFrame.from_records(tables[0])
df.columns = df.iloc[0]
df = df[1:]
df

0  Number of Coils          Number of Paperclips
1                    5                   3, 5, 4
2                   10                   7, 8, 6
3                   15              \n11, 10, 12
4                   20              \n15, 13, 14